 body {
      font-family: Arial, sans-serif;
      background-color: #f2f4f7;
      margin: 0;
      padding: 40px;
    }

    .container {
    display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }

    .card {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      width: 800px;
      padding: 16px;
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card img {
      width: 150px;
      height: 150pxpx;
      border-radius: 8px;
      object-fit: cover;
      margin-right: 16px;
    }

    .card-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:50px;
    }

    .card-text h3 {
      margin: 0;
      font-size: 30px;
      color: #333;
    }

    .card-text p {
      margin: 6px 0 0;
      font-size: 18px;
      color: #666;
    }

    @media (max-width: 768px) {
      .card {
        width: 100%;
      }
    }

    @media(min-width:768px){
          .card-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:50px;
    }
    }